<form action="/rnode/<%= host %>/<%= port %>/index.html" target="_blank">
  <input type="hidden" name="mwi-auth-token" value="<%= password %>">
  <button class="btn btn-primary" type="submit">
    Connect to MATLAB
  </button>
</form>
